{% extends "base.html" %}
{% load static crispy_forms_filters %}

{% block content %}
  <h1>
    Username: {{ cook.username }}
    {% if user.years_of_experience >= 2%}
      <div>
        <!-- Delete Button -->
        <button type="button" class="btn btn-block btn-danger mb-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#modal-default-{{ cook.id }}">
          Delete
        </button>
      
        <!-- Modal Window -->
        <div class="modal fade" id="modal-default-{{ cook.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-default-{{ cook.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body p-4">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center">
                  <h1 class="mb-3 h5 text-danger">Delete cook <strong>{{ cook.username }}</strong>?</h1>
                  <p class="text-muted">This action cannot be undone.</p>
                </div>
                <form action="{% url 'kitchen:cook-delete' pk=cook.id %}" method="post">
                  {% csrf_token %}
                  <div class="d-grid gap-2">
                    <input type="submit" value="Yes, Delete" class="btn btn-danger">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </h1>
  <h1>{{ user.years_of_experience }}</h1>
  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
  <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>

  <div class="ml-3">
    <h4>Dish</h4>
    {% for dish in cook.prepared_dishes.all %}
        <hr>
        <p><strong>Name:</strong> {{ dish.name }}</p>
        <p><strong>Dish type:</strong> {{ dish.dish_typе.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{dish.id}}</p>

    {% empty %}
      <p>No Dish!</p>
    {% endfor %}
  </div>
{% endblock %}
