{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    {{ dish.name }}
    {% if request.user.years_of_experience >= 2 %}
      <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-default-{{ dish.id }}">
        Delete
      </button>
      
      <!-- Modal Content -->
      <div class="modal fade" id="modal-default-{{ dish.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-default-{{ dish.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card p-3 p-lg-4">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center text-md-center mb-4 mt-md-0">
                  <h1 class="mb-0 h4">Delete dish {{ dish.name }}?</h1>
                </div>
                <form action="{% url 'kitchen:dish-delete' pk=dish.id %}" method="post">
                  {% csrf_token %}
                  <div class="d-grid">
                    <input type="submit" value="Yes, Delete" class="btn btn-danger">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    {% endif %}
  </h1>
  {% if request.user.years_of_experience >= 2 %}
    <div class="d-flex justify-content-between align-items-center">
      <h2>Ingredient: </h2>
      {% if dish in user.prepared_dishes.all %}
        <a href="{% url 'kitchen:toggle-car-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
          Delete me from this dish
        </a>
      {% else %}
        <a href="{% url 'kitchen:toggle-car-assign' pk=dish.id %}" class="btn btn-success link-to-page">
          Assign me from this dish
        </a>
      {% endif %}
    </div>
  {% endif %}
  <div>
    {% for ingredients in dish.ingredients.all %}
      <p>{{ ingredients.name }}</p>
    {% endfor %}
  </div>
  <h2>Dish type: {{ dish.dish_type.name }}</h2>
    {% if dish.image %}
        <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
  <hr>
  <ul>
    {% for cooks in dish.cooks.all %}
      <li>{{ cooks.username }} ({{ cooks.first_name }} {{ cooks.last_name }} {{ cooks.years_of_experience }})</li>
    {% endfor %}
  </ul>
{% endblock %}