{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Ingredients List</h1>
    {% if request.user.years_of_experience >= 2 %}
      <a href="{% url 'kitchen:ingredient-create' %}" class="btn btn-primary">
        Create
      </a>
    {% endif %}
  </div>
  <br>
  {% if ingredient_list %}
    <div class="card shadow">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
              <tr class="border-0">
                <th class="border-0 rounded-start">ID</th>
                <th class="border-0">Name</th>
                {% if request.user.years_of_experience >= 2 %}
                  <th class="border-0">Update</th>
                  <th class="border-0 rounded-end">Delete</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for ingredients in ingredient_list %}
                <tr>
                  <td class="border-0">
                    <div class="d-flex align-items-center">
                      <span class="fw-bold">{{ ingredients.id }}</span>
                    </div>
                  </td>
                  <td class="border-0">
                      {{ ingredients.name }}
                  </td>
                  {% if request.user.years_of_experience >= 2 %}
                    <td class="border-0">
                      <div class="col-lg-4">
                        <!-- Button Modal -->
                        <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-form-{{ ingredients.id }}">Update</button>
                      
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal-form-{{ ingredients.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-form-{{ ingredients.id }}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-body p-0">
                                <div class="card p-3 p-lg-4">
                                  <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Update Ingredient</h1>
                                  </div>
                                  <form action="{% url 'kitchen:ingredient-update' pk=ingredients.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                      <label for="name">Ingredient Name</label>
                                      <input type="text" name="name" class="form-control" value="{{ ingredients.name }}" required>
                                    </div>
                                    <div class="d-grid">
                                      <button type="submit" class="btn btn-gray-800">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End of Modal Content -->
                      </div>
                    </td>
                    <td class="border-0">
                      <div >
                        <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-default-{{ ingredients.id }}">
                          Delete
                        </button>
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal-default-{{ ingredients.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-default-{{ ingredients.id }}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-body p-0">
                                <div class="card p-3 p-lg-4">
                                  <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Delete ingredient {{ ingredients.name }}?</h1>
                                  </div>
                                  <form action="{% url 'kitchen:ingredient-delete' pk=ingredients.id %}" method="post">
                                    {% csrf_token %}
                                  <div class="d-grid">
                                    <input type="submit" value="Yes, Delete" class="btn btn-danger">
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End of Modal Content -->
                      </div>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  {% else %}
      <p>There are no ingredients in the service.</p>
  {% endif %}
{% endblock %}